  .right {
    position: absolute;
    left: 92%;
    font-weight: 900;
  }

  .toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #97d0fe;
    color: #0b2642;
    font-weight: 900;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .content {
    margin: 32px 32px;
  }

  app-calendar-view {
    width: 100%;
  }